<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
      crossorigin="anonymous"
    ></script>

    <title>Stigmata</title>
  </head>
  <body>
    <div class="ui attached stackable menu">
      <div class="ui container">
        <a class="active green item" href="/new">
          <i class="plus icon"></i> New
        </a>
        <a class="item" href="/"> <i class="folder open icon"></i> Browse </a>
        <a class="item" href="/agents"> <i class="tasks icon"></i> Agents </a>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="ui text container">
      <form class="ui form" action="/new" method="POST">
        <table class="ui striped table">
          <tbody>
            {{range .}}

            <tr>
              <td>{{.Name}}</td>
              <td>
                <input
                  type="text"
                  id="{{.Name}}"
                  name="{{.Name}}"
                  value="{{.Value}}"
                  data-content="{{.Tooltip}}"
                />
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
        <button type="submit" class="ui fluid positive submit button">
          Submit
        </button>
      </form>
    </div>
    <script>
      $("input").popup({
        on: "focus",
      });
    </script>
  </body>
</html>
