<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
      crossorigin="anonymous"
    ></script>
    <title>Stigmata</title>
  </head>
  <body>
    <div class="ui left fixed secondary vertical menu">
      <table class="ui striped table">
        <tbody id="optionsTable"></tbody>
      </table>
    </div>
    <div class="ui attached stackable menu">
      <div class="ui container">
        <a class="green item" href="/new"> <i class="plus icon"></i> New </a>
        <a class="item" href="/"> <i class="folder open icon"></i> Browse </a>
        <a class="item" href="/agents"> <i class="tasks icon"></i> Agents </a>
      </div>
    </div>
    <br />
    <div class="ui text container">
      <div class="ui stretched two column grid">
        <div class="column">
          <div class="ui center aligned segment">
            <div class="ui icon buttons">
              <button
                class="ui disabled blue basic button"
                id="sBackwardButton"
              >
                <i class="step backward icon"></i>
              </button>
              <button class="ui disabled red basic button" id="resetButton">
                <i class="redo icon"></i>
              </button>
              <button class="ui disabled green basic button" id="playButton">
                <i class="play icon"></i>
              </button>
              <button class="ui disabled orange basic button" id="pauseButton">
                <i class="pause icon"></i>
              </button>
              <button class="ui disabled blue basic button" id="sForwardButton">
                <i class="step forward icon"></i>
              </button>
            </div>
            <div class="ui teal bottom attached progress" id="frame">
              <div class="bar"></div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui form">
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <label>Interval</label>
                  <input type="number" id="playerInterval" value="300" />
                </div>
                <div class="field disabled">
                  <label>Frames per tick</label>
                  <input type="number" id="framesPerTick" placeholder="TBI" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="ui container">
      <div class="ui stretched two column grid">
        <div class="column">
          <div class="ui segment">
            <h4 class="ui centered header">Population</h4>
            <canvas id="populationChart" width="506" height="506"></canvas>
          </div>
        </div>

        <div class="column">
          <div class="ui segment">
            <h4 class="ui centered header">Age distribution</h4>

            <div style="display: block; width: 506px; height: 256px;">
              <canvas id="ageChart"></canvas>
            </div>
          </div>

          <div class="ui segment">
            <h4 class="ui centered header">S.I.R Model</h4>
            <div style="display: block; width: 506px; height: 256px;">
              <canvas id="SIRChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/charts.scatter.js"></script>
    <script src="/static/charts.age.js"></script>
    <script src="/static/charts.sir.js"></script>
    <script src="/static/charts.player.js"></script>

    <script>
      registeredCharts.push(ScatterChartUpdate);
      registeredCharts.push(SIRChartUpdate);
      var reportId = "{{.}}";
      $("#frame").progress({ percent: 0 });
      var data;

      $.getJSON("/api/v1/reports/" + reportId, function (_data) {
        data = _data;
        SIRChart.data.labels = [...Array(data.length).keys()];
        SIRChart.update();
        frameCount = data.length;
        // Enable buttons
        EnableControls();
      });
      $.getJSON("/api/v1/ages/" + reportId, function (_data) {
        _data.forEach((element) => {
          ageChart.data.datasets[0].data.push({ x: element[0], y: element[1] });
        });
        ageChart.update();
      });
      $.getJSON("/api/v1/options/" + reportId, function (optionsData) {
        Object.keys(optionsData).forEach(function (key) {
          $("#optionsTable").append(
            "<tr><td>" + key + "</td><td>" + optionsData[key] + "</td></tr>"
          );
        });
      });
    </script>
  </body>
</html>
